

body {
    position: relative;
    width: 200px;
    background: url('https://img.freepik.com/free-photo/person-looking-futuristic-mystical-other-worldly-sky_23-2150946663.jpg?t=st=1718619425~exp=1718623025~hmac=ae74f13aa67d141aaeb915d8d0dc914e8ccf31274ab148a46a8cc6294c70c0a7&w=1060') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px hwb(0 0% 100% / 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
