<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
</head>
<body>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
    <a href="{% url 'home' %}"  style="color: rgb(0, 0, 0);"><b>Go Back<</b></a>
    
    <div style="position: relative;left: 650px; top:80px;">
        <h2>Create Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form></div>
    
</body>
</html>
